# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


backend/artifacts/contracts/FishMarketplace.sol/FishMarketplace.dbg.json
backend/artifacts/contracts/FishMarketplace.sol/FishMarketplace.json
backend/artifacts/contracts/FishTransfer.sol/FishTransfer.dbg.json
backend/artifacts/contracts/FishTransfer.sol/FishTransfer.json
backend/artifacts/contracts/FisheriesManagement.sol/FisheriesManagement.dbg.json
backend/artifacts/contracts/FisheriesManagement.sol/FisheriesManagement.json
backend/artifacts/contracts/InspectorAuthorization.sol/InspectorAuthorization.dbg.json
backend/artifacts/contracts/InspectorAuthorization.sol/InspectorAuthorization.json
backend/artifacts/contracts/PriceAdjustment.sol/PriceAdjustment.dbg.json
backend/artifacts/contracts/PriceAdjustment.sol/PriceAdjustment.json
backend/hardhat.config.js
backend/package-lock.json
backend/package.json
frontend/index.html